<img class='avatar' src="/img/ile-avatar.jpg"/>
<p>
  Ilija Eftimov is a web developer, specializing in Ruby and Rails, sprinked with JavaScript. 
  He is a full-stack Ruby on Rails developer, working as a consulant for <a href="http://siyelo.com" target='_blank'>Siyelo</a>.
  Ile really enjoys Test Driven Development and loves experimenting with Ruby. 
  You can follow him on <a href='https://twitter.com/fteem' target='_blank'>Twitter</a>, read his articles
  about Ruby and Rails on <a href='/' target='_blank'>this blog</a> and get his code from his 
  <a href='https://github.com/fteem' target='_blank'>Github profile</a>. 
</p>
