<img class='avatar' src="/img/ile-avatar.jpg"/>
<p>
  Ilija Eftimov is a web developer, specializing in Ruby and Rails, sprinked with JavaScript. 
  He is a full-stack Ruby on Rails developer, working as a consulant for <a href="http://siyelo.com">Siyelo</a>.
  Ile really enjoys Test Driven Development and loves experimenting with Ruby. He is
  very into contributing to the Ruby and Rails community by writing articles on <a href='/'>this blog</a>
  and sharing his code on his <a href='https://github.com/fteem'>Github profile</a>.
</p>
