article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
.bio-section {
  float: left;
  margin-top: 25px;
  width: 100%;
  padding: 1% 20%;
}
.bio-section {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
  p {
    color: #586e75;
    font-size: 0.9em;
    width: 80%;
    float: left;
    padding-left: 20px;
  }
  .avatar {
    border-radius: 50%;
    height: 95px;
    float: left;
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.share-page {
  text-align: left;
  color: #c60f1b;
  border-radius: 5px;
  margin-top: 70px;

  a {
    i {
      font-size: 25px;
    }
    margin-left: 15px;
    color: #c60f1b;

    &:hover {
      border-bottom: 1px dashed #fff;
      text-decoration: none;
    }
  }
}

em {
  padding: 0px 30px 10px;
  float: left;
}
